* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

html, body, #app {
  height: 100%;
}
body {
  margin: 0;
}
#app .layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#app .main {
  flex: 1;
  display: flex;
}
#app header > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
#app header button.remove {
  background-color: Coral;
}
#app .list {
  width: 20%;
}
#app .list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#app .list > ul > li {
  padding: 6px 12px;
}
#app .list > ul > li.empty {
  text-align: center;
}
#app .list > ul > li.note {
  background-color: Snow;
  cursor: default;
}
#app .list > ul > li.note.active {
  background-color: Bisque;
}
#app .editor {
  flex: 1;
  display: flex;
}
#app .editor textarea {
  flex: 1;
  resize: none;
  background-color: Snow;
}
